{% extends "@Home/Default/index.html.twig" %}

{% block container %}

<div class="row">

    <div style="width: 100%">
        <canvas id="video-canvas"></canvas>
    </div>
    <script type="text/javascript" src="{{ asset('js/jsmpeg.min.js') }}"></script>
    <script type="text/javascript">
        var canvas = document.getElementById('video-canvas');
        var url = 'ws://' + '178.158.240.229' + ':10800/';
        var player = new JSMpeg.Player(url, {canvas: canvas});
    </script>

</div>

{% endblock %}