{% extends "@Home/Default/index.html.twig" %}

{% block container %}

<div class="row">
    <div id="logs" style="height: 100%; width: 100%; overflow-y: auto; word-break: break-all; word-wrap: break-word; font-family: monospace; font-size: 14px; line-height: 0.5"></div>
</div>

{% endblock %}